In [1]:
import pandas as pd
import numpy as np 
import pickle 
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
plt.rcParams['font.sans-serif'] = ['Microsoft JHenghei']
plt.rcParams['axes.unicode_minus'] = False

In [3]:
get = pickle.load(open('simulation_data/parameters_0.pkl','rb'))

In [4]:
data = pd.read_csv('simulation_data/data_0.csv')

In [5]:
X = data.iloc[:,:5]

In [6]:
T_beta = get['beta']

In [7]:
simu_beta1 = pd.read_csv('1000_times_beta.csv')
simu_beta2 = pd.read_csv('1000_times_beta_gamma_decay.csv')
simu_beta3 = pd.read_csv('1000_times_beta_small_sample.csv')
simu_beta4 = pd.read_csv('1000_times_beta_small_sample_and_gamma_decay.csv')
simu_beta5 = pd.read_csv('1000_times_beta_test.csv')

In [8]:
B = np.repeat(5,5)
B = B.reshape(5,1)
B = np.dot(B,B.T)

B = B + np.eye(5)

In [9]:
B

array([[26., 25., 25., 25., 25.],
       [25., 26., 25., 25., 25.],
       [25., 25., 26., 25., 25.],
       [25., 25., 25., 26., 25.],
       [25., 25., 25., 25., 26.]])

In [10]:
T_beta

array([ 0.09467958,  0.27820584, -2.07799018,  0.53026507, -0.96156416])

In [11]:
V1 = (simu_beta1 - T_beta)*np.sqrt(50000)
V2 = (simu_beta2 - T_beta)*np.sqrt(50000)
V3 = (simu_beta3 - T_beta)*np.sqrt(1000)
V4 = (simu_beta4 - T_beta)*np.sqrt(1000)
V5 = (simu_beta5 - T_beta)*np.sqrt(50000)

# ASGD 全部樣本 固定學習率

In [12]:
V1.cov()

           0          1          2          3          4
0  16.814458  -3.621806  -3.865386  -4.336637  -4.979729
1  -3.621806  16.393116  -4.611862  -4.515419  -3.672842
2  -3.865386  -4.611862  15.992807  -4.091299  -3.438462
3  -4.336637  -4.515419  -4.091299  17.533271  -4.577788
4  -4.979729  -3.672842  -3.438462  -4.577788  16.697793

In [13]:
pd.DataFrame(np.linalg.inv(B))

          0         1         2         3         4
0  0.801587 -0.198413 -0.198413 -0.198413 -0.198413
1 -0.198413  0.801587 -0.198413 -0.198413 -0.198413
2 -0.198413 -0.198413  0.801587 -0.198413 -0.198413
3 -0.198413 -0.198413 -0.198413  0.801587 -0.198413
4 -0.198413 -0.198413 -0.198413 -0.198413  0.801587

# ASGD 全部樣本 Gamma decay

In [14]:
V2.cov()

            0           1           2           3           4
0  329.632283  -90.966198  -80.516440  -83.751523  -74.300165
1  -90.966198  339.317390  -95.188721  -82.229901  -71.213416
2  -80.516440  -95.188721  332.032749  -85.017350  -71.388182
3  -83.751523  -82.229901  -85.017350  354.959752 -104.047247
4  -74.300165  -71.213416  -71.388182 -104.047247  321.301884

In [15]:
pd.DataFrame(np.linalg.inv(B))

          0         1         2         3         4
0  0.801587 -0.198413 -0.198413 -0.198413 -0.198413
1 -0.198413  0.801587 -0.198413 -0.198413 -0.198413
2 -0.198413 -0.198413  0.801587 -0.198413 -0.198413
3 -0.198413 -0.198413 -0.198413  0.801587 -0.198413
4 -0.198413 -0.198413 -0.198413 -0.198413  0.801587

# ASGD 小樣本訓練(1000筆) 固定學習率

In [16]:
V3.cov()

           0          1          2          3          4
0  33.948399  -9.396377  -7.883612  -7.096635  -9.697221
1  -9.396377  35.085333  -7.976605  -9.642202  -8.046231
2  -7.883612  -7.976605  32.073243  -7.920292  -8.228320
3  -7.096635  -9.642202  -7.920292  32.688533  -7.983183
4  -9.697221  -8.046231  -8.228320  -7.983183  34.027967

In [17]:
pd.DataFrame(np.linalg.inv(B))

          0         1         2         3         4
0  0.801587 -0.198413 -0.198413 -0.198413 -0.198413
1 -0.198413  0.801587 -0.198413 -0.198413 -0.198413
2 -0.198413 -0.198413  0.801587 -0.198413 -0.198413
3 -0.198413 -0.198413 -0.198413  0.801587 -0.198413
4 -0.198413 -0.198413 -0.198413 -0.198413  0.801587

# ASGD 小樣本訓練(1000筆) Gamma decay

In [18]:
V4.cov()

            0           1           2           3           4
0  492.608074 -106.857457 -135.548157 -121.042877 -129.057049
1 -106.857457  454.413105 -141.082379 -118.820372  -88.278529
2 -135.548157 -141.082379  494.033523 -110.265819 -107.038365
3 -121.042877 -118.820372 -110.265819  496.488780 -146.390440
4 -129.057049  -88.278529 -107.038365 -146.390440  471.494243

In [19]:
pd.DataFrame(np.linalg.inv(B))

          0         1         2         3         4
0  0.801587 -0.198413 -0.198413 -0.198413 -0.198413
1 -0.198413  0.801587 -0.198413 -0.198413 -0.198413
2 -0.198413 -0.198413  0.801587 -0.198413 -0.198413
3 -0.198413 -0.198413 -0.198413  0.801587 -0.198413
4 -0.198413 -0.198413 -0.198413 -0.198413  0.801587

# ASGD 全部樣本 學習率用論文的寫法

In [20]:
V5.cov()

           0          1          2          3          4
0  33.442519  -3.320764  -2.362376 -11.739004 -15.005313
1  -3.320764  35.500292 -14.361195 -12.439341  -4.284863
2  -2.362376 -14.361195  39.548028  -6.770630 -15.075458
3 -11.739004 -12.439341  -6.770630  39.471633  -9.514956
4 -15.005313  -4.284863 -15.075458  -9.514956  43.038751

In [21]:
pd.DataFrame(np.linalg.inv(B))

          0         1         2         3         4
0  0.801587 -0.198413 -0.198413 -0.198413 -0.198413
1 -0.198413  0.801587 -0.198413 -0.198413 -0.198413
2 -0.198413 -0.198413  0.801587 -0.198413 -0.198413
3 -0.198413 -0.198413 -0.198413  0.801587 -0.198413
4 -0.198413 -0.198413 -0.198413 -0.198413  0.801587